.g {
	background-color: #10e82d;
	height: 60px;
}
h1 {	
	color: #ad07a8;
	text-align: center;
}

body {
	background-color: #5d07ad;
}

.t {
	background-color: white;
	height: 300px
}

#ps {
	display: flex;
}

#im {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 30px;
	width: 100px;
	height: 100px;
}

#im:hover {
	height: 120px;
	width: 120px;
	transition-duration: 1.5s; 
}

#p1 {
	align-self: left;
	margin-bottom: 5px;
	margin-left: 50px;
	margin-right: 40px;
	height: 150px;
	width: 250px;
}

#b{
	margin-right: 90px;
	margin-left: 30px;
	margin-top: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	line-height:30px;
	width: 90px;
	padding: 0px 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	border-radius: 10px;
	top: 0;
	position: relative;
	color: #fff;
	background-color:#16c4a4;
	box-shadow: 0 3px 0px #11521f;
	transition-property: all;
}

#b:hover {
	margin-right: 90px;
	margin-left: 30px;
	margin-top: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	line-height: 30px;
	width: 90px;
	padding: 0px 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	border-radius: 10px;
	position: relative;
	color: #fff;
	top: 2px;
	background-color: #ed18df ;
	box-shadow: 0 3px 0px #275775; 
	transition-duration: 1s;
}

img {
	margin-left: 10px; 
	height: 100px;
	width: 100px;
}

.copy {
	background-color: #000;
	height: 80px;
}

small {
	color: #c8d162;
	text-align: center;
}

#tel {
	color: #c8d162;
	text-align: center;	
}